<ng-container *ngIf="isLoading; else datatable">
  <em class="pi pi-spin pi-spinner" style="font-size: 10rem"></em>
</ng-container>
<ng-template #datatable>
  <p>Fuente: Datos Abiertos de la Junta de Andalucía</p>
  <p-table [value]="items" [paginator]="true" [rows]="7" [(first)]="first">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>CITY</th>
        <th>STATE</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.state }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
