<div class="p-grid">
  <div class="p-col-12 p-md-6">
    <h2>{{ "GALLERY" | translate }}</h2>
    <p-galleria
      [value]="images$ | async"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{
        'background-color': 'rgba(0, 0, 0, .85)'
      }"
      [numVisible]="5"
      [circular]="true"
      [showItemNavigators]="true"
      [showThumbnails]="true"
      [showIndicators]="false"
      [showItemNavigatorsOnHover]="true"
      [showIndicatorsOnItem]="true"
      [autoPlay]="true"
      [transitionInterval]="2000"
    >
      <ng-template pTemplate="item" let-item>
        <img
          [src]="item.previewImageSrc"
          style="
            width: 100%;
            height: 100%;
            max-height: 350px;
            display: block;
            object-fit: cover;
            object-position: center;
          "
        />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
          <img
            [src]="item.thumbnailImageSrc"
            style="display: block; height: 60px"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="caption" let-item>
        <div class="caption">
          <h4>
            <a [href]="item.link" target="_blank">{{ item.title }}</a>
          </h4>
          <span>{{ item.alt }}</span>
        </div>
      </ng-template>
    </p-galleria>
  </div>
  <div class="p-col-12 p-md-6">
    <p-tabView *ngIf="sections$ | async as sections">
      <p-tabPanel *ngFor="let section of sections" [header]="section.name">
        <div [innerHTML]="section.content"></div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="p-col-12">
    <h2>{{ "COMPANIES" | translate }}</h2>
  </div>
  <ng-container *ngIf="posts$ | async as posts">
    <div class="p-col-6 p-md-3 p-p-2" *ngFor="let post of posts">
      <p-card [header]="post.name">
        <div [innerHTML]="post.content | truncate: 250:'...':true"></div>
      </p-card>
    </div>
  </ng-container>
</div>
